span.tooltip_message,span.tooltip_img1{
	cursor: pointer;
	display: inline-block;
	background-color: #F20B26;
	width: 16x;
	height: 18px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	position: relative;
}

span.tooltip_message:hover{
	background-color: #04FF97;
}

div.message{
	background-color: #04FF97;
	color: #000000;
	position: absolute;
	left: 18px;
	top: -18px;
	z-index: 1000000;
	text-align: left;
	width: 280px;
}

.container{ 
	position: fixed;
	float: left;
    width: 15%;
}
.tablesize{
	width: 60%;
    position: fixed;
    top: 70px;
    right: 15%;
    margin-right: 30px;
}

.searchtab{
	position: fixed;
	top: 400px;
	margin-left: 20px;
}

.image1{
	width: 60%;
    position: fixed;
    top: 70px;
    right: 15%;
    margin-right: 30px;
	right: 20%;
}
